.news-bits h3 {
    font-size: 24px;
    color: #745fb5;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: solid 1px rgba(102,119,136,.2);
    line-height: 1.2;
    font-weight: 400;
 }

 .news-bits .bottom-pag {
    display: flex;
    width: 100%;
    justify-content: center;
}

 .news-bits #page-numbers {
     display: flex;
 }
 .news-bits #page-numbers li {
    margin-right: 0.3em;
    color: #fff;
    background: #2ab27b;
    user-select: none;
    cursor: pointer;
 }
 .news-bits #page-numbers li {
    margin-right: 0.3em;
    color: #fff;
    background: #46B989;
    user-select: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
    font-weight: 700;
 }

 .news-bits #page-numbers li:hover,  .news-bits .active {
    color: #fff;
    background: #2ab27b;
 }

 @media (max-width: 1090px) {
    .news-bits .tiles {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px; 
        
    }
 }
 @media (max-width: 770px) {
    .news-bits .tiles {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px; 
    }
 }
 @media (max-width: 500px) {
    .news-bits .tiles {
        grid-template-columns: 1fr;
        grid-gap: 30px; 
    }
 }