* {
        box-sizing: border-box;
}

.home_tabs > ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
}

.tabs.home_tabs li {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        justify-content: right;
    }
.row:before, .row:after {
    content: "";
    display: none;
}

.tabs.home_tabs li::after {
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: #77dab2;
        transition: width .3s;
    }
    
.tabs.home_tabs li:hover::after {
        width: 100%;        
}

.tabs li a {
        display: grid;
        width: 100%;
        padding-bottom: 20px;
        color: #77dab2; /*New Green*/
        transition: .3s ease;
}

.tabs li span {
        display: flex;
        margin-top: 0px;
        height: 0px;
        width: 100%;
        float: right;
}

.card {
        height: 80px;
}

@media (max-width: 640px) {
        .home_tabs > ul {
                display: grid;
                grid-template-columns: repeat(3, 30%);
                grid-gap: 10px;
                margin: 0;
        }
}

