
.newsDetails .tile img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    vertical-align: middle;
    border-style: none;
}

.newsDetails .tile {
    margin: 5px 10px 45px 10px;
}

.newsDetails p, .newsDetails span {
    color: #555459;
}

.newsDetails h1, .newsDetails p {
    padding: 5px 10px
}
 .newsDetails p {
    padding: 0px 10px
}

.newsDetails .tile-views-back {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
}

.newsDetails .back {
    width: 100%;
    display: grid;
    justify-content: right;
    align-items: right;
    
}
.newsDetails .back span {
    border:1px solid #2ab27b;
    padding: 5px;
    border-radius: 4px;
    color: #2ab27b;
    cursor: pointer;
}

@media (max-width: 640px) {
    .newsDetails .title {
        text-align: center
    }

    .newsDetails .tile-views-back {
        padding: 18px;
        font-size: 16px;
        font-weight: 600;
    }
}