.displayNone {
    display: none;
}

.visibilityHidden {
    visibility: hidden;
}

.hero {
    background-image: url('./../../img/bg1.jpg');
}

.our-green {
    color: #01d202
}

.inputGroup {
    box-shadow: rgba(102, 119, 136, 0.03) 0px 6px 8px, rgba(102, 119, 136, 0.3) 0px 1px 2px;
}