.titleBar {
    margin-top: 60px;
    background: #fff;
}

.titleBar .title-menu {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 15px;
}

.titleBar .title, .titleBar .menu  {
    color: #2ab27b;
    display: inline-block;
    width: 100%;
    clear: both;
}

 .titleBar .menu {
    font-size: 18px;
    font-weight: 400;
    font-style: italic
 }

.titleBar .title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.titleBar .menu span {
    padding-left: 10px;
}

.titleBar .menu {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    justify-content: right;
}